<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
<!-- css.gg -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css" />
<!-- Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<style>
    a {
        color: teal;
    }
</style>